@model List<Platform>
@{
    ViewBag.Title = "Mobile App Platforms / Platform : Android, Apple, Windows, FireFox Os";
    string allPlatformsString = "Android, Apple, Windows, FireFox OS";
    string currentPageStaticUrl = AppVar.Url + Html.GetCurrentURLString();
    string titlesSubtitle = "Mobile Platform : " + allPlatformsString;
}
                        </strong>
                    </h1>
                </a>
                        </strong>
                    </h2>
                </a>
            </div>
        </div>
    </div>
                                </strong>
                            </h1>
                                    (Latest Apps)
                                </strong>
                            </h2>
                        </a>
                    </div>
                </div>
            </div>
                        @if (appNonExistClass == "") {
                                        </div>
                                                @app.AppName
                                                <span class="paragraph-end"></span>
                                            </h1>
                                            <h3>
                                                @app.User.UserName
                                                <span class="paragraph-end"></span>
                                            </h3>
                                            <span class="rating">
                                                <i class="fa fa-star"></i>
                                                @app.AvgRating/5 from @app.ReviewsCount users
                                            </span>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

            </strong>
        </h1>
    </a>
    is great
            </strong>
            @currentPageStaticUrl
        </h1>
    </a> for both developers and users who use
            </strong>
            </strong>
            </strong>
        </h1>
    </a>
        <h1>
            <strong>
                <em>reviews : @currentPageStaticUrl</em>
            </strong>
        </h1>
    </a>
</div>