@using WereViewApp.Models.EntityModel.ExtenededWithCustomMethods
@model WereViewApp.Models.EntityModel.App
@{
    //Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
    string appName = Model.AppName;
    string currentUrl = @Html.GetCurrentUrlString(); // Apps/Apple-7/Games/plant-vs-zombies
    ViewBag.Title = Model.Platform.PlatformName + " App : " + appName;
    ViewBag.Meta = appName + "," + @Model.Tags + "," + Model.Description;
    ViewBag.Keywords = appName + "," + @Model.Tags;
    string[] tagsList = @Model.Tags != null ? @Model.Tags.Split(',') : null;
    bool isFrist = true;
    string appSubtitle = ViewBag.Title;
    string platformSubtitle = Model.Platform.PlatformName + " mobile apps";
    string categorySubtitle = Model.GetCategoryString() + " category mobile apps";
    string softwareUrl = AppVar.Url; //we review app
    string publishDate = @Html.DisplayDate(Model.CreatedDate).ToString();
    string currentAppUrlNameOnly = Model.URL; //plant-vs-zombies
}
<div class="app-details-page" id="app-deails-page">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1481969698749084&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, "script", "facebook-jssdk"));
    </script>
    <div class="row" itemscope itemtype="http://schema.org/Product">
        <div class="col-md-12 app-detail app-title-wrapper">
            <div class="app-title-row float-left">
                <a href="@softwareUrl/Apps/@Model.Platform.PlatformName" class="app-platform" title="@platformSubtitle">
                    <i class="@Model.Platform.Icon" title="@platformSubtitle">
                        <em title="@platformSubtitle" class="seo-hide">@platformSubtitle</em>
                    </i>
                </a>
                @Html.Partial("_AppEditButton")
                <a href="@currentUrl" class="app-title" title="@appSubtitle">
                    <h1 title="@appSubtitle">
                        <strong title="@appSubtitle">
                            <em itemprop="name" title="@appSubtitle">
                                @appName
                            </em>
                        </strong>
                    </h1>
                    <span class="paragraph-end"></span>
                </a>
                <a href="@softwareUrl/Apps/Category/@Model.Category.CategoryName" class="app-category" title="@categorySubtitle">
                    <h2 class="category" title="@categorySubtitle">
                        <strong title="@categorySubtitle">@Model.Category.CategoryName</strong>
                    </h2>
                </a>
                <span class="paragraph-end"></span>
            </div>
        </div>
    </div>
    <div id="blog" class="blog-pages">
        <div class="b-post">
            @Html.Partial("_Gallery")
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        @Html.Partial("_RatingAndViewed")
                    </div>
                    <ul class="post-info seo-optimize">
                        <li>
                            By <a href="@softwareUrl/Profile/@Model.User.UserName">
                                <h1>
                                    <strong>
                                        <em title="@Model.User.FirstName @Model.User.LastName developer apps">@Html.Truncate(@Model.User.UserName, 10, false)</em>
                                    </strong>
                                </h1>
                            </a> <span> . </span>
                        </li>
                        <li>
                            <a href="/Report/@currentAppUrlNameOnly" class="report-app">
                                <h1 title="Report @appName">
                                    <strong title="Report @appName">
                                        <em title="Report @appName">Report</em>
                                    </strong>
                                </h1>
                            </a> <span> . </span>
                        </li>
                        <li>
                            <a href="@Model.WebSiteURL" title="Official Website for @Model.AppName">
                                <h1 title="Official Website for @Model.AppName">
                                    <strong title="Official Website for @Model.AppName">
                                        <em title="Official Website for @Model.AppName">Website</em>
                                    </strong>
                                </h1>
                            </a> <span> . </span>
                        </li>
                        <li>
                            <a href="@Model.StoreURL" title="@Model.AppName download">
                                <h1 title="@Model.AppName download">
                                    <strong title="@Model.AppName download">
                                        <em title="@Model.AppName download">Store</em> <em title="@Model.AppName download" class="seo-hide">@Model.AppName download</em>
                                    </strong>
                                </h1>
                            </a>
                        </li>
                        <li class="share-btn write-review-btn white">
                            <a id="review-requesting-spinner" data-toggle="tooltip" title="Requesting" data-original-title="Requesting" class="tooltip-show">
                                <span data-display="Requesting for review" class="glyphicon glyphicon-refresh glyphicon-spin" title="Requesting"></span>
                            </a>
                            <a title="Write Review for @appName" id="WriteReviewButton">
                                <h1 title="Write Review for @appName">
                                    <strong title="Write Review for @appName">
                                        <em title="Write Review for @appName">Write Review</em>
                                    </strong>
                                </h1>
                            </a>
                        </li>

                        <li class="share-btn facebook">
                            <div class="fb-like" data-href="@currentUrl" data-width="110px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                        </li>
                    </ul>
                    <div class="seo-hide">
                        <a href="@softwareUrl@currentUrl" title="@platformSubtitle : @appName (@categorySubtitle)">
                            <h1 class="h1" title="@platformSubtitle : @appName (@categorySubtitle)">
                                <strong title="@platformSubtitle : @appName (@categorySubtitle)">
                                    <em title="@platformSubtitle : @appName (@categorySubtitle)">@softwareUrl@currentUrl</em>
                                </strong>
                            </h1>
                        </a>
                        <a href="@softwareUrl@currentUrl" title="@platformSubtitle : @appName (@categorySubtitle)">
                            <h1 class="h1" title="@platformSubtitle : @appName (@categorySubtitle)">
                                <strong title="@platformSubtitle : @appName (@categorySubtitle)">
                                    <em title="@platformSubtitle : @appName (@categorySubtitle)">@softwareUrl@currentUrl</em>
                                </strong>
                            </h1>
                        </a>
                        <a href="@softwareUrl@currentUrl" title="@platformSubtitle : @appName">
                            <h1 class="h1" title="@platformSubtitle : @appName">
                                <strong title="@platformSubtitle : @appName">
                                    <em title="@platformSubtitle : @appName">@softwareUrl@currentUrl</em>
                                </strong>
                            </h1>
                        </a>
                        <a href="@softwareUrl@currentUrl" title="@platformSubtitle : @appName (@categorySubtitle)">
                            <h1 class="h1" title="@platformSubtitle : @appName (@categorySubtitle)">
                                <strong title="@platformSubtitle : @appName (@categorySubtitle)">
                                    <em title="@platformSubtitle : @appName (@categorySubtitle)">@platformSubtitle : @appName (@categorySubtitle)</em>
                                </strong>
                            </h1>
                        </a>
                        <a href="@softwareUrl@currentUrl" title="@platformSubtitle : @appName (@categorySubtitle)">
                            <h1 class="h1" title="@platformSubtitle">
                                <strong title="@platformSubtitle">
                                    <em title="@platformSubtitle">@platformSubtitle</em>
                                </strong>
                            </h1>
                            <h1 class="h1" title="@appName">
                                <strong title="@appName">
                                    <em title="@appName">@appName</em>
                                </strong>
                            </h1>
                            <h1 class="h1" title="@categorySubtitle">
                                <strong title="@categorySubtitle">
                                    <em title="@categorySubtitle">@categorySubtitle</em>
                                </strong>
                            </h1>
                        </a>
                        <a href="@softwareUrl@currentUrl" title="@appName">
                            <h1 class="h1" title="@appName">
                                <strong title="@appName">
                                    <em title="@appName">@appName</em>
                                </strong>
                            </h1>
                        </a>
                        <a href="@softwareUrl" title="Apps review website">
                            <h1 class="h1" title="Apps review website">
                                <strong title="Apps review website">
                                    <em title="Apps review website">Apps review website</em>
                                </strong>
                            </h1>
                        </a>
                        <a href="@softwareUrl" title="Apps review">
                            <h1 class="h1" title="Apps review ">
                                <strong title="Apps review ">
                                    <em title="Apps review ">Apps review </em>
                                </strong>
                            </h1>
                        </a>
                        <a href="@currentUrl" title="Apps review website">
                            <h1 class="h1" title="apps">
                                <strong title="apps">
                                    <em title="apps">apps</em>
                                </strong>
                            </h1>
                            <h1 class="h1" title="review">
                                <strong title="review">
                                    <em title="review">review</em>
                                </strong>
                            </h1>
                            <h1 class="h1" title="website">
                                <strong title="website">
                                    <em title="website">website</em>
                                </strong>
                            </h1>
                        </a>
                        <a href="@currentUrl" title="Apps review">
                            <h1 class="h1" title="review">
                                <strong title="review">
                                    <em title="review">review</em>
                                </strong>
                            </h1>
                            <h1 class="h1" title="apps">
                                <strong title="apps">
                                    <em title="apps">apps</em>
                                </strong>
                            </h1>
                        </a>
                    </div>
                    <div class="app-description seo-optimize" title="@appName description">
                        @Html.Truncate(Model.Description, 200, false)
                        <span class="show-more-btns-container" data-ref="app-description">
                            <span class="elipse-dot">...</span>
                            <a class="see-more-btn" data-ref="app-description">see more</a>
                        </span>
                        <div class="more" data-ref="app-description" title="@appName description">
                            @Html.Truncate(Model.Description, 200, -1)
                            <a class="less-btn" data-ref="app-description">less</a>
                            <div class="top-gap-small">
                                @if (tagsList != null) {
                                    <div class="tagbox inline">
                                        <i class="fa fa-tag"></i> Tags:
                                        @foreach (var tag in tagsList) {
                                            if (!isFrist) {
                                                <text>,</text>
                                            }
                                            <a class="Plant tag-item" href="@softwareUrl/Tags/" title="@platformSubtitle : @Model.AppName is a type of @tag">
                                                <h1 title="@platformSubtitle : @Model.AppName is a type of @tag">
                                                    <em title="@Model.AppName" class="seo-hide">@Model.AppName</em>
                                                    @tag
                                                </h1>
                                            </a>
                                            {
                                                isFrist = false;
                                            }
                                        }
                                    </div>
                                }
                                <div class="punlished-date inline indent-1">
                                    <i class="fa fa-calendar-o"></i>
                                    Published date:
                                    <a href="@publishDate" title="Mobiles apps review on @publishDate">@publishDate</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div id="write-review-form-container">
                    </div>
                    @{ Html.RenderAction("ReviewsDisplay", "Partials", new { id = Model.AppID }, true); }
                    <div id="review-request-fields">
                        <!-- request fields to get review-form -->
                        @Html.HiddenFor(n => n.AppID)
                        @Html.AntiForgeryToken()
                    </div>
                </div>
                <div class="col-md-3">
                    @{ Html.RenderAction("FeaturedApps", "Partials", new { appID = Model.AppID }); }
                    @*@{Html.RenderAction("DevelopersApps", "Partials", new { appID = Model.AppID }); }*@
                    @{ Html.RenderAction("SuggestedApps", "Partials", new { appID = Model.AppID }); }
                </div>
            </div>
        </div>
    </div>
</div>
