@using WereViewApp.Models.POCO.IdentityCustomization
@model Feedback

@{
    ViewBag.Title = "Replying to " + Html.DisplayFor(model => model.Email);
    string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
    var token = (MvcHtmlString)@Html.AntiForgeryToken();
    string controller = (string)ViewBag.controller;
    string viewName = "Edit";
    bool dropDownDynamic = (bool)ViewBag.dropDownDynamic;
    string partialController = ViewBag.dynamicLoadPartialController;
}


@Html.SamePageLinkWithIcon(title, subtitle, "glyphicon glyphicon-edit")
<div class="top-gap-2x"></div>
<hr />
@using (Html.BeginForm(viewName, controller, FormMethod.Post, new { @class = "form-horizontal Create-@ViewBag.Title", role = "form" })) {
    <div class="form-horizontal">
        @token
        @Html.Partial("_SuccessMessage")
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @Html.HiddenFor(model => model.FeedbackID)
        @Html.EditorFor(model => model.Username)
        @Html.EditorFor(model => model.Name)
        @Html.EditorFor(model => model.Subject)
        @Html.EditorFor(model => model.Message)
        @Html.EditorFor(model => model.Email)
        @Html.EditorFor(model => model.RateUrgency)
        @Html.EditorFor(model => model.Response)
        @Html.EditorFor(model => model.IsViewed)
        @Html.EditorFor(model => model.IsInProcess)
        @Html.EditorFor(model => model.IsSolved)
        @Html.EditorFor(model => model.IsUnSolved)
        @Html.EditorFor(model => model.HasAppOrReviewReport)
        @Html.EditorFor(model => model.HasMarkedToFollowUpDate)
        @Html.EditorFor(model => model.PostedDate)
        @Html.EditorFor(model => model.FollowUpdateDate)
        @Html.EditorFor(model => model.FeedbackCategoryID)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="btn-group">
                    <a href="@Url.Action("Index")" title="Back" class="btn btn-info dev-btn-back"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                    <div class="input-group-btn inline">
                        <button title="Save and create new one" class="btn btn-success"><i class="fa fa-reply"></i> Reply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("_ValidatorCommonForm", new ViewDataDictionary {
    {"token",token}
})
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
