@using WereViewApp.Models.EntityModel
@model List<WereViewApp.Models.EntityModel.Category>
@{
    ViewBag.Title = "Mobile App Categories / Category";
    var currentPageStaticUrl = AppVar.Url + Html.GetCurrentURLString();
}
<div class="app-details-page category-page search-page category-listing-page">

    <div class="row">
        <div class="col-md-12 app-detail app-title-wrapper" title="Mobile Apps Categories">
            <div class="app-title-row float-left">
                <a href="@currentPageStaticUrl" class="app-title">
                    <h1 title="Mobile Apps Categories">
                        <strong title="Mobile Apps Categories">
                            <em title="Mobile Apps Categories">Mobile Apps</em>
                        </strong>
                    </h1>
                </a>
                <a class="app-category" href="#">
                    <h2 class="category" title="Mobile Apps Categories">
                        <strong class="search-quote" title="Mobile App Categories">
                            Categories
                        </strong>
                    </h2>
                </a>
            </div>

        </div>
    </div>
    <div class="category-listing-displays-with-apps-container bottom-gap">
        @foreach (var category in Model) {
            var appNonExistClass = category.Apps == null || category.Apps.Count == 0 ? "seo-hide" : "";
            <div class="row no-margin @appNonExistClass">
                <div class="col-md-12 app-detail app-title-wrapper category-title" title="Mobile App Categories">
                    <div class="app-title-row float-left">
                        <a href="@currentPageStaticUrl/@category.CategoryName" title="@category.CategoryName category mobile apps" class="app-title">
                            <h1 title="@category.CategoryName">
                                <strong title="@category.CategoryName category mobile apps">
                                    <em title="@category.CategoryName category mobile apps">@category.CategoryName</em>
                                </strong>
                            </h1>
                            <h2 class="app-category" title="(Latest Apps)">
                                <strong class="search-quote" title="@category.CategoryName Categories latest apps">
                                    (Latest Apps)
                                </strong>
                            </h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row no-margin @appNonExistClass">
                <div class="archive-app-collection-wrapper">
                    <ul class="seo-optimize regular-color archive-app-collection-list category-listing-page-apps-list pagination-required">
                        @if (appNonExistClass == "") {
                            foreach (var app in category.Apps) {
                                Platform platform = app.GetPlatform();
                                <li class="slim-app-view" data-app-type="@platform.Icon">
                                    <a class="app-url" href="@app.GetAppUrl()" title="App Review : @app.AppName">
                                        <div class="app-icon">
                                            <img src="@app.GallerySearchIconLocation" alt="app"/>
                                        </div>
                                        <div class="app-content">
                                            <h1 class="app-title" title="App Review : @app.AppName">
                                                <i class="fa @platform.Icon"></i>
                                                @app.AppName
                                                <span class="paragraph-end"></span>
                                            </h1>
                                            <h3>
                                                @app.User.UserName
                                                <span class="paragraph-end"></span>
                                            </h3>
                                            <span class="rating">
                                                <i class="fa fa-star"></i>
                                                @app.AvgRating/5 from @app.ReviewsCount users
                                            </span>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                    <div class="regular-show-more-btn">
                        <a href="@currentPageStaticUrl/@category.CategoryName" title="@category.CategoryName category mobile apps" class="btn more-btn white pull-right">@category.CategoryName : See More</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<div class="seo-hide">
    <a href="@currentPageStaticUrl" class="seo-app-name" title="WeReviewApp.com : App Reviews website.">
        <h1 title="WeReviewApp.com : App Reviews website.">
            <strong title="WeReviewApp.com : App Reviews website.">
                <em title="WeReviewApp.com : App Reviews website.">We</em>
            </strong><strong title="WeReviewApp.com : App Reviews website.">
                <em title="WeReviewApp.com : App Reviews website.">Review</em>
            </strong><strong title="WeReviewApp.com : App Reviews website.">
                <em title="WeReviewApp.com : App Reviews website.">App</em>
            </strong><strong title="WeReviewApp.com : App Reviews website.">
                <em title="WeReviewApp.com : App Reviews website.">.com</em>
            </strong>
        </h1>
    </a>
    is great
    <a href="@currentPageStaticUrl" class="seo-app-name" title="WeReviewApp.com : App Reviews website.">
        <h1 title="WeReviewApp.com : App Reviews website.">
            <strong title="WeReviewApp.com : App Reviews website.">
                <em title="WeReviewApp.com : App Reviews website.">web</em>
            </strong><strong title="WeReviewApp.com : App Reviews website.">
                <em title="WeReviewApp.com : App Reviews website.">site</em>
            </strong>
            @currentPageStaticUrl
        </h1>
    </a> for both developers and users who use
    <a href="@currentPageStaticUrl" class="seo-app-name" title="mobile Apps users">
        <h1 title="mobile Apps users">
            <strong title="mobile Apps users">
                <em title="mobile Apps users">mobile</em>
            </strong>
            <strong title="mobile Apps users">
                <em title="mobile Apps users">apps</em>
            </strong>
            <strong title="mobile Apps users">
                <em title="mobile Apps users">users</em>
            </strong>
        </h1>
    </a>
    Collection of <a href="@Html.GetCurrentURLString()" title="">
        <h1>
            <strong>
                <em>reviews : @currentPageStaticUrl</em>
            </strong>
        </h1>
    </a>
</div>