@using WereViewApp.Models.EntityModel
@using WereViewApp.Models.EntityModel.ExtenededWithCustomMethods
@{
    //Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
@model SearchViewModel

@{
    var apps = (List<App>) ViewBag.Results;
    var isFirst = true;
}
<div class="wrapper_inner">
    @{ Html.RenderAction("NavBar", "Partials"); }
</div>

<div class="mainContainerwrap">
    <form role="form" action="@Url.Action("Search", "Apps")" method="post">
        <div class="container toppart">
            @if (ViewBag.isPostBack != null) {
                <h1>
                    Search results for <strong class="red">"</strong><strong class="black">
                        @if (Model != null) {
                            @Model.DisplaySearchText
                        }
                    </strong><strong class="red">"</strong>
                </h1>
            }
            @*<div class="searchboxWrap form-group">
                    <input type="text" class="searchbox form-control" value="Angry Birds" />
                    <input type="submit" value="Search" class="searchbutton btn btn-success" />
                </div>*@@Html.EditorFor(i => i.Url, "Search")
            @Html.AntiForgeryToken()
        </div>
        <div class="container innerContainer inner">
            <div class="contenCol col-md-9 col-sm-9">
                <div class="content">
                    <div class="appsitemWraper">
                        @if (apps != null && apps.Count > 0) {
                            foreach (var app in apps) {
                                var url = app.GetAppUrl();
                                var platform = app.GetPlatform();

                                <div class="row appsitemBox">
                                    <div class="imgWrap col-md-2 col-sm-2">
                                        <a href="@url">
                                            <img src="@app.GallerySearchIconLocation" class="img-responsive" alt="@app.AppName">
                                        </a>
                                    </div>
                                    <div class="textWrap col-md-10 col-sm-10">
                                        <div class="name">
                                            <h1 title="@app.AppName">
                                                <a href="@url" title="@app.AppName">
                                                    <i class="@platform.Icon" title="@platform.PlatformName"></i> @app.AppName
                                                </a>
                                            </h1>
                                        </div>
                                        <div class="navmenu">
                                            <ul class="app-search-subtitle-list">
                                                <li class="first tooltipClass tooltip-show" data-toggle="tooltip" data-original-title="@app.AvgRating from @app.ReviewsCount">
                                                    <i class="fa fa-star">
                                                    </i> @app.AvgRating
                                                </li>
                                                <li class="posted_by">
                                                    <h1>
                                                        <a>@app.User.UserName</a>
                                                    </h1> |
                                                </li>
                                                <li class="date">
                                                    <h1>
                                                        <a title="@app.AppName release date">Release Date: @Html.DisplayDate(app.ReleaseDate)</a>
                                                    </h1>
                                                </li>
                                            </ul>
                                        </div>

                                        <p>
                                            @Html.Truncate(@app.Description, 100)
                                        </p>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                    @*<div class="morewrap"><a class="loadmore">Load More</a></div>*@
                </div><!----- content part end ------>
            </div><!----- contenCol part end ------>
            <!--<div class="rightCol col-md-3 col-sm-3 form-group">
                <div class="selectWrap">
                    <div class="boxWrap row">
                        @*<label><input type="checkbox" class="checkbox " value=""> Rating:</label>*@
                        @*@Html.EditorFor(n=> n.isRatingCheck)*@
                        <select class="form-control">
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                    </div>
                    <div class="boxWrap">
                        <label><input type="checkbox" class="checkbox" value=""> Type:</label>
                        <input type="text" value="" class="textbox form-control">
                    </div>
                    <div class="boxWrap">
                        <label><input type="checkbox" class="checkbox" value=""> Platform:</label>
                        <select class="form-control">
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                    </div>
                </div>
                <div class="rediobutton">
                    <div class="rediobox">
                        <input type="radio" class="radio" name="sorted_by"><label>Sorted by Relevancy</label>
                    </div>
                    <div class="rediobox">
                        <input type="radio" class="radio" name="sorted_by"><label>Sorted by Rating</label>
                    </div>
                </div>
            </div>-->

        </div><!----- container ------>
    </form>
</div>