@using WereViewApp.Models.POCO.Structs
@using WereViewApp.Models.EntityModel
@using WereViewApp.Models.EntityModel.ExtenededWithCustomMethods
@{
    ViewBag.Title = "Reporting";
    ViewBag.Subtitle = "App ";
    ViewBag.isAppReport = true;
    ViewBag.appOrReviewId = ViewBag.id;
    ViewBag.CategoryId = FeedbackCategoryIDs.MobileAppReport;
    bool isAppReport = ViewBag.isAppReport != null && ViewBag.isAppReport;
    string postingAction = isAppReport ? "Reported App" : "Reported Review";
    App app = null;
    Review review = null;
    if (isAppReport) {
        app = ViewBag.app;
    } else {
        app = ViewBag.app;
        review = ViewBag.review;
    }
}
@Html.SamePageLinkWithIcon(postingAction, postingAction, "fa fa-flag red")
@if (isAppReport) {
    <h2 class="f-em-14 h3 red">
        You have already reported on "<a href="@app.GetAbsoluteUrl()">@app.AppName</a>" app. 
    </h2>
} else {
    <h2 class="f-em-14 h3 red">
        You have already reported on "<a href="@app.GetAbsoluteUrl()">@review.Title</a>" review.
    </h2>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
