@model string
@{
    var isRequired = ViewData.ModelMetadata.IsRequired;
    string isRequiredStar = isRequired ? "*" : "",
        prop = ViewData.ModelMetadata.PropertyName.ToString(),
        propLower = prop.ToLower(),
        styleProperty = propLower,
        displayName = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName,
        description = ViewData.ModelMetadata.Description,
        templateName = "ckeditor";
    var htmlAttributes = new RouteValueDictionary();
    EditorTemplate.CommonTemplateAssignments(templateName, "ckeditor-template", ViewBag, ref htmlAttributes);
}
<div class="form-group form-row @styleProperty @templateName-type" data-type="@templateName" data-prop="@styleProperty">
    <div class="controls dev-plugin">
        <label class="@ViewBag.labelColumn control-label form-label @styleProperty" for="@styleProperty" data-prop="@styleProperty">
            @displayName
            @if (description != null) {
                <a data-toggle="tooltip" data-original-title="@description" title="@description" class="tooltip-show">
                    <span class="description-icon"></span>
                </a>
            }
            <span class="red"> @isRequiredStar</span>
        </label>
        <div class="@ViewBag.textColumn form-input @styleProperty" data-prop="@styleProperty">
            @Html.TextArea("", htmlAttributes)
            @Html.ValidationMessageFor(m => m, null, new { @class = "table invalid-input" })
        </div>
    </div>
</div>