
@model byte?

@{
    var isRequired = ViewData.ModelMetadata.IsRequired;
    string isRequiredStar = isRequired ? "*" : "";
    var htmlAttributes = new RouteValueDictionary();
    if (@ViewData.ModelMetadata.DisplayName == null) {
        ViewData.ModelMetadata.DisplayName = ViewData.ModelMetadata.PropertyName;
    }
    if (ViewBag.@class != null) {
        htmlAttributes.Add("class", "form-control " + ViewBag.@class);
    } else {
        htmlAttributes.Add("class", "form-control rating-10 common-rating");
    }

    if (ViewBag.@type != null) {
        htmlAttributes.Add("type", ViewBag.@type);
    } else {
        htmlAttributes.Add("type", "number");
    }

    if (ViewBag.placeholder != null) {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    } else {
        if (isRequired) {
            htmlAttributes.Add("placeholder", @ViewData.ModelMetadata.DisplayName + isRequiredStar);
        } else {
            htmlAttributes.Add("placeholder", "[" + @ViewData.ModelMetadata.DisplayName + "]");
        }
    }

    if (ViewBag.stars == null) {
        ViewBag.stars = 10;
    }

    if (ViewBag.min == null) {
        ViewBag.min = 0;
    }

    if (ViewBag.max == null) {
        ViewBag.max = 10;
    }

    if (ViewBag.step == null) {
        ViewBag.step = .5;
    }

    
    htmlAttributes.Add("title", @htmlAttributes["placeholder"]);
    htmlAttributes.Add("min", ViewBag.min);
    htmlAttributes.Add("max", ViewBag.max);
    htmlAttributes.Add("data-size", "xs");
    htmlAttributes.Add("data-stars", ViewBag.stars);
    htmlAttributes.Add("data-step", ViewBag.step);
}

<div class="form-group form-row-@ViewData.ModelMetadata.PropertyName">
    <div class="controls custom-rating-10 custom-rating">
        <label class="col-md-2 control-label" for="@ViewData.ModelMetadata.PropertyName">
            @ViewData.ModelMetadata.DisplayName
            @if (@ViewData.ModelMetadata.Description != null) {
                <a data-toggle="tooltip" data-original-title="@ViewData.ModelMetadata.Description" title="@ViewData.ModelMetadata.Description" class="tooltip-show"><span class="fa fa-question font-size-22 glyphicon-top-fix almost-white"></span></a>
            }
            <span class="red">@isRequiredStar</span>
        </label>
        <div class="col-md-10">
            @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, htmlAttributes)

            <a data-toggle="tooltip" title="Validating" data-original-title="Validating" class="tooltip-show CustomValidation @ViewData.ModelMetadata.PropertyName no-hover">
                <span data-display="@ViewData.ModelMetadata.DisplayName" class="CustomValidation @ViewData.ModelMetadata.PropertyName glyphicon glyphicon-refresh glyphicon-refresh-animate hide" title="Validating"></span>
            </a>
            @Html.ValidationMessageFor(m => m, null, new { @class = "rounded-3 label label-danger fixed-width-294 validation-box" })
        </div>
    </div>
</div>
