@model object

@{
    var isRequired = ViewData.ModelMetadata.IsRequired;
    var isRequiredStar = isRequired ? "*" : "";
    var htmlAttributes = new RouteValueDictionary();
    if (@ViewData.ModelMetadata.DisplayName == null) {
        ViewData.ModelMetadata.DisplayName = ViewData.ModelMetadata.PropertyName;
    }
    if (ViewBag.@class != null) {
        htmlAttributes.Add("class", "form-control url-input-search " + ViewBag.@class);
    } else {
        htmlAttributes.Add("class", "form-control url-input-search");
    }

    if (ViewBag.@type != null) {
        htmlAttributes.Add("type", ViewBag.@type);
    }

    htmlAttributes.Add("placeholder", "Search...");
    if (ViewBag.Value != null) {
        htmlAttributes.Add("Value", ViewBag.Value);
    }
    htmlAttributes.Add("title", @htmlAttributes["placeholder"]);
}

<div class="form-group form-row-@ViewData.ModelMetadata.PropertyName">
    <div class="controls custom-url-input">
        <div class="col-md-12 search-url-div-col">
            @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, htmlAttributes)
            <button class="btn btn-success" title="Search your app."><i class="glyphicon glyphicon-search"></i> Search</button>
            <a data-toggle="tooltip" title="Validating" data-original-title="Validating" class="tooltip-show CustomValidation @ViewData.ModelMetadata.PropertyName no-hover">
                <span data-display="@ViewData.ModelMetadata.DisplayName" class="CustomValidation @ViewData.ModelMetadata.PropertyName glyphicon glyphicon-refresh glyphicon-refresh-animate hide" title="Validating"></span>
            </a>
        </div>
    </div>
</div>