@model WereViewApp.Models.EntityModel.Review

@{
    ViewBag.Title = "Edit Your Review";
    var token = @Html.AntiForgeryToken();
    string controller = (string) ViewBag.controller;
    string viewName = "Edit";
    Layout = null;
}
<hr/>
<h1 class="h4">@ViewBag.Title</h1>
@using (Html.BeginForm(viewName, controller, FormMethod.Post, new {@class = "form-horizontal Create", role = "form"})) {
    <div class="form-horizontal">
        @token
        @Html.Partial("_SuccessMessage")
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.ReviewID)
        @Html.HiddenFor(model => model.AppID)
        @Html.EditorFor(model => model.Rating, "Rating-5-b", new { @step = 1 })
        @Html.EditorFor(model => model.Title)
        @Html.EditorFor(model => model.Pros, "Multiline")
        @Html.EditorFor(model => model.Cons, "Multiline")
        @Html.EditorFor(model => model.Comments, "Multiline")
        @Html.EditorFor(model => model.IsSuggest)
        @Html.Partial("_SavingButton")
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(".tooltip-show").tooltip();
</script>