<footer>
    <div class="container-fluid">
        <div class="row header seo-optimize">
            <div class="col-md-1 bg-primary story-header">
                <h1 title="App Reviews website">
                    <strong title="WeReviewApp.com : App Reviews website">
                        <em title="WeReviewApp.com : App Reviews website">
                            Story
                        </em>
                    </strong>
                </h1>
            </div>
            <div class="col-md-11 social-icons-wrapper seo-optimize">
                <strong class="follow-us-header" title="Follow @AppVar.Name">Follow us:</strong>
                <a href="#">
                    <i class="fa fa-facebook-square" title="@AppVar.Name facebook page"></i>
                    <h1 title="@AppVar.Name facebook page" class="seo-hide">@AppVar.Name facebook page</h1>
                </a>
                <a href="#">
                    <i class="fa fa-twitter-square" title="@AppVar.Name twitter page"></i>
                    <h1 title="@AppVar.Name twitter page" class="seo-hide">@AppVar.Name twitter page</h1>
                </a>
                <a href="#">
                    <i class="fa fa-google-plus-square" title="@AppVar.Name google plus"></i>
                    <h1 title="@AppVar.Name google plus" class="seo-hide">@AppVar.Name google plus</h1>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="about-us-wrapper">
                <div class="col-md-3">
                    <div class="logo-wrapper">
                        <a class="logo" href="#.">
                            <h1 title="wereviewapp.com : App Reviews website" class="wereviewapp.com website-head-title">
                                <span class="almost-black" title="wereviewapp.com">we</span><span class="red" title="wereviewapp.com">review</span><span class="orange-color" title="wereviewapp.com">app.com</span>
                            </h1>
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <article class="justify about-company">
                        <a href="@AppVar.Url" class="seo-app-name seo-optimize" title="WeReviewApp.com : App Reviews website.">
                            <h1 title="WeReviewApp.com : App Reviews website."><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">We</em></strong><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">Review</em></strong><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">App</em></strong><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">.com</em></strong></h1>
                        </a>
                        eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        <span class="show-more-btns-container">
                            <span class="elipse-dot">...</span>
                            <a class="see-more-btn primary-color" href="#">see more</a>
                        </span>
                    </article>
                </div>
            </div>
        </div>
        <div class="row rights">
            <div class="col-md-6">
                <ul class="navigation-bottom">
                    <li><a href="#."> Home</a></li>
                    <li><a href="#."> Page </a></li>
                    <li><a href="#."> Features </a></li>
                    <li><a href="#."> Contact</a></li>
                </ul>
            </div>

            <div class="col-md-6 copyright text-right">
                &copy; 2015
                <a href="#@AppVar.Url" class="seo-app-name seo-optimize" title="WeReviewApp.com : App Reviews website.">
                    <h1 title="WeReviewApp.com : : App Reviews website."><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">We</em></strong><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">Review</em></strong><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">App</em></strong><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">.com</em></strong></h1>
                </a>
                <div class="developers-organism seo-optimize seo-hide">
                    - Developed by <a href="http://developers-organism.com" title="Developers Organism">
                        <h1 title="Developers Organism">Developers Organism</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>