<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="@AppConfig.Setting.GoogleMetaTag" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/styles")
    @RenderSection("css", required: false)
    @if (ViewBag.Meta != null) {
        <meta name="description" content="@ViewBag.Meta" />
    }
    @if (ViewBag.Keywords != null) {
        <meta name="keywords" content="@ViewBag.Keywords" />
    }
</head>
<body>
    <div id="wrap" class="home-page">
        <!--======= HEADER =========-->
        <div class="header-2">
            <header class="sticky">
                <div class="container">
                    <!--======= LOGO =========-->
                    <a class="logo" href="#." title="wereviewapp.com: App Review websie">
                        <h1 title="wereviewapp.com" class="wereviewapp.com website-head-title">
                            <strong class="almost-black" title="App Review websie">we</strong><strong class="red" title="App Review websie">review</strong><strong class="orange-color" title="App Review websie">app.com</strong>
                        </h1>
                    </a>
                    <nav>
                        <ul class="jetmenu menu seo-optimize">
                            <li class="active">
                                <a href='#'>Home</a>
                            </li>
                            <!--======= MEGA MENU =========-->
                            <li>
                                <a href="08_Portfolio_1.html" title="Mobile Apps"> Apps</a>

                                <ul class="dropdown animated fadeIn">
                                    <!--======= DROP MENU =========-->
                                    <li>
                                        <a href="08_Portfolio_1.html" title="All">Archived Apps</a>
                                    </li>
                                    <li>
                                        <a href="08_Portfolio_1.html">Category</a>
                                        <ul class="dropdown animated fadeIn">
                                            <li> <a href="08_Portfolio_1.html"><h1><strong>All Category</strong></h1><span class="badge float-right">4</span></a></li>
                                            <li> <a href="08_Portfolio_1.html"><h1><strong>Agriculture</strong></h1><span class="badge float-right">4</span></a></li>
                                            <li> <a href="09_Portfolio_2.html"><h1><strong>Health</strong></h1><span class="badge float-right">4</span></a></li>
                                            <li> <a href="10_Portfolio_3.html"><h1><strong>LifeStyle</strong></h1><span class="badge float-right">4</span></a></li>
                                            <li> <a href="12_Portfolio_4.html"><h1><strong>Games</strong></h1><span class="badge float-right">4</span></a></li>
                                            <li> <a href="13_Portfolio_5.html"><h1><strong>Category 2</strong></h1><span class="badge float-right">4</span></a> </li>
                                            <li> <a href="14_Portfolio_6.html"><h1><strong>Games</strong></h1><span class="badge float-right">4</span></a> </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="15_Portfolio_8.html">Platforms</a>
                                        <!--======= DROP MENU =========-->
                                        <ul class="dropdown animated fadeIn">
                                            <li> <a href="08_Portfolio_1.html"><h1><strong>All Platform</strong></h1><span class="badge float-right">4</span></a></li>
                                            <li title="Android Apps">
                                                <a href="15_Portfolio_8.html">
                                                    <h1 title="Android Apps">
                                                        <i title="Android Apps" class="fa fa-android green"></i>
                                                        <strong title="Android Apps">Android Apps</strong>
                                                    </h1>
                                                    <span class="badge float-right">4</span>
                                                </a>
                                            </li>
                                            <li title="Apple App">
                                                <a href="15_Portfolio_8.html" title="Apple App">
                                                    <h1 title="Apple App">
                                                        <i title="Apple App" class="fa fa-apple"></i>
                                                        <strong title="Apple App">Apple Apps</strong>
                                                    </h1>
                                                    <span class="badge float-right">4</span>
                                                </a>
                                            </li>
                                            <li title="Microsoft Apps">
                                                <a href="15_Portfolio_8.html" title="Microsoft Apps">
                                                    <h1 title="Microsoft Apps">
                                                        <i title="Microsoft Apps" class="fa fa-windows sky-blue"></i>
                                                        <strong title="Microsoft Apps">Microsoft Apps</strong>
                                                    </h1>
                                                    <span class="badge float-right">4</span>
                                                </a>
                                            </li>
                                            <li title="Others Mobile Apps">
                                                <a href="15_Portfolio_8.html" title="Others Mobile Apps">
                                                    <h1 title="Others Mobile Apps">
                                                        <strong title="Microsoft Apps">Others Mobile Apps</strong>
                                                    </h1>
                                                    <span class="badge float-right">4</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li title="Contact review website's admin'">
                                <a href="40_Contact_Us.html" title="Contact review website's admin"> Contact</a>
                            </li>
                            <li class="post-app-btn-wrapper btn-type">
                                <a href="40_Contact_Us.html" class="btn btn-primary post-app-btn">
                                    Post App
                                </a>
                            </li>
                            @Html.Partial("_LoginPartial")




                            <li class="search-bar btn-type">
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search" name="q">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <!--======= CONTENT START =========-->
        <div class="content">
            <!-- Gallery -->

            <div class="container">
                <div id="tp-slider" class="slider-bg-static">
                    <div class="tp-banner-container">
                        <div class="tp-banner gallery-home">
                            <ul itemprop="itemListElement" itemscope itemtype="http://schema.org/Book">
                                <!-- SLIDE 1 -->
                                <!-- LAYER NR. 1 -->

                                <li data-transition="fadetobottomfadefromtop" data-slotamount="7" data-masterspeed="2500">
                                    <!-- MAIN IMAGE -->
                                    <img src="images/fixed/slidebg1.jpg" alt="background" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                                    <!-- LAYERS -->
                                    <!-- LAYER NR. 1 -->
                                    <a href="#">


                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption customin customout"
                                             data-x="462.916667"
                                             data-y="top"
                                             data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                             data-speed="800"
                                             data-start="700"
                                             data-easing="Power4.easeOut"
                                             data-endspeed="500"
                                             data-endeasing="Power4.easeIn"
                                             style="z-index: 3">
                                            <img itemprop="image" src="images/fixed/woman.png" alt="">
                                        </div>

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption large_bold_grey skewfromrightshort customout app-title"
                                             data-x="68.752749"
                                             data-y="7.895833"
                                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                             data-speed="500"
                                             data-start="800"
                                             data-easing="Back.easeOut"
                                             data-endspeed="500"
                                             data-endeasing="Power4.easeIn"
                                             data-captionhidden="on"
                                             style="z-index: 4">
                                            <h1 class="inline" itemprop="name"><strong>Appliction Name</strong></h1> <span class="app-category inline">Games</span>
                                        </div>



                                        <!-- LAYER NR. 7 -->
                                        <div class="tp-caption app-description small_thin_grey customin customout"
                                             data-x="36.333333"
                                             data-y="105"
                                             data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                             data-speed="500"
                                             data-start="1300"
                                             data-easing="Power4.easeOut"
                                             data-endspeed="500"
                                             data-endeasing="Power4.easeIn"
                                             data-captionhidden="on"
                                             style="z-index: 8">
                                            Tincidunt integer eu augue augue nunc elit dolor, <br />
                                            luctus placerat scelerisque euismod, iaculis eu <br />
                                            lacus nunc mi elit, vehicula ut laoreet ac, aliquam <br />
                                            sit amet justo nunc tempor, metus vel.

                                        </div>

                                        <!-- LAYER NR. 9 -->
                                        <div class="tp-caption platform-icon skewfromleftshort customout"
                                             data-x="38.87"
                                             data-y="10.588542"
                                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                             data-speed="500"
                                             data-start="1600"
                                             data-easing="Back.easeOut"
                                             data-endspeed="500"
                                             data-endeasing="Power4.easeIn"
                                             data-captionhidden="on"
                                             style="z-index: 10">
                                            <i class="fa fa-apple"></i>
                                        </div>



                                        <!-- LAYER NR. 14 -->
                                        <div class="rating-value-display tp-caption medium_bold_orange skewfromleftshort customout"
                                             data-x="148.10111"
                                             data-y="57.347557"
                                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                             data-speed="500"
                                             data-start="2250"
                                             data-easing="Back.easeOut"
                                             data-endspeed="500"
                                             data-endeasing="Power4.easeIn"
                                             data-captionhidden="on"
                                             style="z-index: 15">
                                            3.5<span style="font-weight: 300;">/5 Stars</span>
                                            <div class="seo-rating seo-hide" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                                <span itemprop="ratingValue">3.9</span> stars based on
                                                <meta itemprop="best" content="5" />
                                                <span itemprop="reviewCount">25</span> reviews
                                            </div>
                                        </div>


                                        <!-- LAYER NR. 19 -->
                                        <div class="tp-caption customin customout"
                                             data-x="36.434444"
                                             data-y="58.770833"
                                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                             data-speed="1000"
                                             data-start="2000"
                                             data-easing="Power4.easeOut"
                                             data-endspeed="500"
                                             data-endeasing="Power4.easeIn"
                                             data-captionhidden="on"
                                             style="z-index: 20">
                                            <input class="rating-5-front" value="3.5" min="0" max="5" step="0.5" data-readonly="true" data-size="xs">
                                        </div>
                                    </a>

                                </li>



                                <!-- SLIDE 3 -->

                            </ul>
                            <div class="tp-bannertimer tp-bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--======= Body Content Apps =========-->
            <div class="container apps-list">
                <div class="apps-list-header-row">
                    <a class="title" href="#" title="Latest Mobile Apps">
                        <h1 title="" class="float-left"><strong title="latest-apps">Latest Apps</strong></h1>
                    </a>
                    <a class="float-right btn btn-primary btn-more" href="#">
                        More
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="owl-carousel owl-theme owl-list" itemprop="itemListElement" itemscope itemtype="http://schema.org/Book">
                    <a class="app-box" href="#">
                        <img class="app-icon" itemprop="image" src="images/b-avatar-1.jpg" />
                        <div class="app-description-wrapper">
                            <div class="app-title-container">
                                <div class="app-title-row">
                                    <h1 itemprop="name" class="app-title ubuntu-font">
                                        <i class="fa fa-apple"></i>
                                        <strong>
                                            <em>
                                                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                            </em>
                                        </strong>
                                    </h1>
                                    <span class="paragraph-end"></span>
                                </div>
                                <div class="published-by" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                                    <span itemprop="name">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</span>
                                    <span class="paragraph-end"></span>
                                </div>
                                <div class="seo-rating seo-hide" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                    <span itemprop="ratingValue">3.9</span> stars based on
                                    <meta itemprop="best" content="5" />
                                    <span itemprop="reviewCount">25</span> reviews
                                </div>
                                <input class="rating-5-front" value="3.5" min="0" max="5" step="0.5" data-readonly="true" data-size="xs">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="container apps-list">
                <div class="apps-list-header-row">
                    <a class="title" href="#" title="Latest Mobile Apps">
                        <h1 title="" class="float-left"><strong>Top Rated</strong></h1>
                    </a>
                    <a class="float-right btn btn-primary btn-more" href="#">
                        More
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="owl-carousel owl-theme owl-list" itemprop="itemListElement" itemscope itemtype="http://schema.org/Book">
                    <a class="app-box" href="#">
                        <img class="app-icon" itemprop="image" src="images/b-avatar-1.jpg" />
                        <div class="app-description-wrapper">
                            <div class="app-title-container">
                                <div class="app-title-row">
                                    <h1 itemprop="name" class="app-title ubuntu-font">
                                        <i class="fa fa-apple"></i>
                                        <strong>
                                            <em>
                                                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                            </em>
                                        </strong>
                                    </h1>
                                    <span class="paragraph-end"></span>
                                </div>
                                <div class="published-by" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                                    <span itemprop="name">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</span>
                                    <span class="paragraph-end"></span>
                                </div>
                                <div class="seo-rating seo-hide" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                    <span itemprop="ratingValue">3.9</span> stars based on
                                    <meta itemprop="best" content="5" />
                                    <span itemprop="reviewCount">25</span> reviews
                                </div>
                                <input class="rating-5-front" value="3.5" min="0" max="5" step="0.5" data-readonly="true" data-size="xs">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--======= FOOTER =========-->
            <footer>
                <div class="container-fluid">
                    <div class="row header seo-optimize">
                        <div class="col-md-1 bg-primary story-header">
                            <h1 title="App Reviews website">
                                <strong title="WeReviewApp.com : App Reviews website">
                                    <em title="WeReviewApp.com : App Reviews website">
                                        Story
                                    </em>
                                </strong>
                            </h1>
                        </div>
                        <div class="col-md-11 social-icons-wrapper seo-optimize">
                            <strong class="follow-us-header" title="Follow @AppVar.Name">Follow us:</strong>
                            <a href="#">
                                <i class="fa fa-facebook-square" title="@AppVar.Name facebook page"></i>
                                <h1 title="@AppVar.Name facebook page" class="seo-hide">@AppVar.Name facebook page</h1>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter-square" title="@AppVar.Name twitter page"></i>
                                <h1 title="@AppVar.Name twitter page" class="seo-hide">@AppVar.Name twitter page</h1>
                            </a>
                            <a href="#">
                                <i class="fa fa-google-plus-square" title="@AppVar.Name google plus"></i>
                                <h1 title="@AppVar.Name google plus" class="seo-hide">@AppVar.Name google plus</h1>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="about-us-wrapper">
                            <div class="col-md-3">
                                <div class="logo-wrapper">
                                    <a class="logo" href="#.">
                                        <h1 title="wereviewapp.com : App Reviews website" class="wereviewapp.com website-head-title">
                                            <span class="almost-black" title="wereviewapp.com">we</span><span class="red" title="wereviewapp.com">review</span><span class="orange-color" title="wereviewapp.com">app.com</span>
                                        </h1>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <article class="justify about-company">
                                    <a href="@AppVar.Url" class="seo-app-name seo-optimize" title="WeReviewApp.com : App Reviews website.">
                                        <h1 title="WeReviewApp.com : App Reviews website."><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">We</em></strong><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">Review</em></strong><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">App</em></strong><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">.com</em></strong></h1>
                                    </a>
                                    eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    <span class="show-more-btns-container">
                                        <span class="elipse-dot">...</span>
                                        <a class="see-more-btn primary-color" href="#">see more</a>
                                    </span>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="row rights">
                        <div class="col-md-6">
                            <ul class="navigation-bottom">
                                <li><a href="#."> Home</a></li>
                                <li><a href="#."> Page </a></li>
                                <li><a href="#."> Features </a></li>
                                <li><a href="#."> Contact</a></li>
                            </ul>
                        </div>

                        <div class="col-md-6 copyright text-right">
                            &copy; 2015
                            <a href="#@AppVar.Url" class="seo-app-name seo-optimize" title="WeReviewApp.com : App Reviews website.">
                                <h1 title="WeReviewApp.com : : App Reviews website."><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">We</em></strong><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">Review</em></strong><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">App</em></strong><strong title="WeReviewApp.com : App Reviews website."><em title="WeReviewApp.com : App Reviews website.">.com</em></strong></h1>
                            </a>
                            <div class="developers-organism seo-optimize seo-hide">
                                - Developed by <a href="http://developers-organism.com" title="Developers Organism">
                                    <h1 title="Developers Organism">Developers Organism</h1>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </footer>
            <!--======= CONTENT END =========-->
            @RenderBody()
        </div>
    </div>

    @RenderSection("featured", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
