@model WereViewApp.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<h3>Associate your @ViewBag.LoginProvider account.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"})) {
    @Html.AntiForgeryToken()
    <h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <p class="text-info label label-success">
        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
        Please enter a user name for this site below and click the Register button to finish
        logging in.
    </p>
    @Html.EditorFor(n => n.UserName, "UserName")
    @Html.EditorFor(n => n.Phone, "Phone")
    @Html.EditorFor(n => n.FirstName)
    @Html.EditorFor(n => n.LastName)
    @Html.EditorFor(n=> n.Email, "Email")
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-facebook"></i>
                Register
            </button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
