@using WereViewApp.Models.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="gap-from-top"></div>
<h2 class="h2">@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                @Html.AntiForgeryToken()
                <span>
                    Use a local account to log in.
                    If you don't have any account please
                </span> @Html.ActionLinkWithIcon("sign up", "Register", null, null, "", "fa fa-user-plus", "btn btn-success btn-lg")
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.EditorFor(m => m.Email, new { @class = "form-control" })
                @Html.EditorFor(m => m.Password, new { @class = "form-control" })
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="login-btn-wrapper">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                            @Html.SubmitButton("Signin", "fa fa-sign-in", "Signin to " + AppVar.Name)
                            <input type="submit" value="Log in" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                <div>
                    Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
                </div>
            }
        </section>

    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}