@using WereViewApp.Models.EntityModel
@using WereViewApp.Models.EntityModel.ExtenededWithCustomMethods
@model WereViewApp.Models.ViewModels.SearchViewModel
@{
    string currentUrl = Html.GetCurrentURLWithHostName();
    ViewBag.Title = "Search app reviews";
    bool isModelNotNull = Model != null;
    bool isEmptySearchString = true;//isModelNotNull && ;

    if (isModelNotNull) {
        isEmptySearchString = string.IsNullOrEmpty(Model.SearchQuery);
    }
}
<div class="row">
    <div class="col-md-12 app-detail app-title-wrapper">
        <div class="app-title-row float-left">
            <a href="@currentUrl" class="app-title" title="Search app reviews">
                <h1 title="Search app reviews">
                    <strong title="Search app reviews">
                        <em title="Search app reviews">Search</em>
                        <em class="seo-hide">
                            <strong title="Search app reviews">
                                Search app reviews
                            </strong> or
                            <strong title="search reviews for apps">search reviews for apps</strong> or
                            <strong title="search reviews">search reviews</strong>
                        </em>
                    </strong>
                </h1>
            </a>
            @if (!isEmptySearchString) {
                <a class="app-category">
                    <h2 class="category">
                        <q class="search-quote">
                            @Model.DisplayStringToUser
                        </q>
                    </h2>
                </a>
            }
        </div>
    </div>

</div>

<div>
    <div class="search-box-wrapper">
        <form role="search" action="@AppVar.Url/Search" title="Search in app review website" method="post">
            <div class="input-group">
                @Html.AntiForgeryToken()
                @if (!isEmptySearchString) {
                    <input type="text" value="@Model.SearchQuery" class="form-control" placeholder="Search for mobile apps" name="SearchQuery">
                } else {
                    <input type="text" class="form-control" placeholder="Search for mobile apps" name="SearchQuery">
                }
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    @if (!isEmptySearchString && Model.IsAppExist) {
        <ul class="filter">
            <li><a class="active" href="#" data-filter="*">All</a></li>
            <li>
                <a href="#" data-filter="[data-app-type='fa fa-android']">
                    <i class="fa fa-android"></i>
                    <span class="hidden-xs hidden-sm">Android Apps</span>
                </a>
            </li>
            <li>
                <a href="#" data-filter="[data-app-type='fa fa-apple']">
                    <i class="fa fa-apple"></i>
                    <span class="hidden-xs hidden-sm">Apple Apps</span>
                </a>
            </li>
            <li>
                <a href="#" data-filter="[data-app-type='fa fa-windows']">
                    <i class="fa fa-windows"></i>
                    <span class="hidden-xs hidden-sm">Windows Apps</span>
                </a>
            </li>
        </ul>
        <div class="row app-date-seperation seo-optimize">
            <div class="col-md-10"></div>
            <div class="col-md-2  text-right">
                <a href="#">
                    <h1 class="month-seperation regular-color bold-important"></h1>
                </a>
            </div>
        </div>
    }
    <div class="row">
        <div class="archive-app-collection-wrapper">
            <ul class="seo-optimize regular-color archive-app-collection-list search-page-apps-list pagination-required">
                @if (isEmptySearchString || !Model.IsAppExist) {
                    <li class="slim-app-view no-result">
                        @if (!isEmptySearchString && Model.SearchQuery.Length < 3) {
                            <p class="f-em-11 ">
                                Please extend your search text to get more appropriate results.
                            </p>
                        }
                    </li>
                } else {
                    foreach (App app in Model.FoundApps) {
                        Platform platform = app.GetPlatform();
                        <li class="slim-app-view" data-app-type="@platform.Icon">
                            <a class="app-url" href="@app.GetAppUrl()">
                                <div class="app-icon">
                                    <img src="@app.GallerySearchIconLocation" alt="@app.AppName" />
                                </div>
                                <div class="app-content">
                                    <h1 class="app-title">
                                        <i class="fa @platform.Icon"></i>
                                        @app.AppName
                                        <span class="paragraph-end"></span>
                                    </h1>
                                    <h3>
                                        @app.User.UserName
                                        <span class="paragraph-end"></span>
                                    </h3>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        @app.AvgRating/5 from @app.ReviewsCount users
                                    </span>
                                </div>
                            </a>
                        </li>
                    }

                }
            </ul>
            @*@if (isModelNotNull && Model.IsAppExist) {
                    <div class="pagination-wrapper text-center">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                }*@
        </div>
    </div>
</div>
