@using WereViewApp.Models.EntityModel
@using WereViewApp.Models.EntityModel.ExtenededWithCustomMethods
@model WereViewApp.Models.POCO.Identity.ApplicationUser
@{
    string username = Model.UserName;
    List<App> apps = (List<App>) ViewBag.Apps;
    string urlToFirstpage = AppVar.Url + "/Profile/" + username;
}
<a title="Apps of @Model.DisplayName" href="@urlToFirstpage">
    <h2 class="h2" title="profile of @username">@Model.DisplayName</h2>
</a>
<table class="top-gap-2x ">
    <tbody>
    <tr>
        <td class="bold">Name</td>
        <td class="indent-1 red">:</td>
        <td class="indent-1">
            <a title="Apps of @Model.DisplayName" href="@urlToFirstpage">@Model.DisplayName</a>
        </td>
    </tr>
    <tr>
        <td class="bold">
            User name
        </td>
        <td class="indent-1 red">:</td>
        <td class="indent-1"> @username</td>
    </tr>
    <tr>
        <td class="bold">Email</td>
        <td class="indent-1 red">:</td>
        <td class="indent-1"> @Model.Email.Replace("@", "{at}")</td>
    </tr>
    <tr>
        <td class="bold">Member since</td>
        <td class="indent-1 red">:</td>
        <td class="indent-1"> @Html.DisplayDate("dd MMMM, yyyy", @Model.CreatedDate)</td>
    </tr>
    </tbody>
</table>
<div class="app-date-seperation row seo-optimize">
    <div class="col-md-10"></div>
    <div class="col-md-2  text-right">
        <a>
            <h1 class="bold-important month-seperation regular-color"></h1>
        </a>
    </div>
</div>

<div class="row">
    <div class="archive-app-collection-wrapper">
        <ul class="archive-app-collection-list pagination-required regular-color search-page-apps-list seo-optimize">
            @foreach (App app in apps) {
                Platform platform = app.GetPlatform();
                <li class="slim-app-view" data-app-type="@platform.Icon">
                    <a class="app-url" href="@app.GetAppUrl()" title="App Review : @app.AppName">
                        <div class="app-icon">
                            <img src="@app.SearchIconLocation" alt="app" />
                        </div>
                        <div class="app-content">
                            <h1 class="app-title" title="App Review : @app.AppName">
                                <i class="fa @platform.Icon"></i>
                                @app.AppName
                                <span class="paragraph-end"></span>
                            </h1>
                            <h3>
                                @app.User.UserName
                                <span class="paragraph-end"></span>
                            </h3>
                            <span class="rating">
                                <i class="fa fa-star"></i>
                                @app.AvgRating/5 from @app.ReviewsCount users
                            </span>
                        </div>
                        <div class="seo-hide">
                            <em title="@platform.PlatformName Mobiles App">@platform.PlatformName</em>
                            <em title="@app.AppName">@app.AppName</em>
                        </div>
                    </a>
                </li>
            }

        </ul>
        <div class="clear"></div>
        <div class="pagination-wrapper text-center">
            <ul class="pagination">
                @ViewBag.paginationHtml
            </ul>
        </div>
    </div>

</div>
