@using WereViewApp.Models.EntityModel
@using WereViewApp.Models.EntityModel.ExtenededWithCustomMethods
@model WereViewApp.Models.POCO.Identity.ApplicationUser
@{
    string username = Model.UserName;
    List<App> apps = (List<App>)ViewBag.Apps;
}
<a title="Apps of @Model.DisplayName" href="@Html.GetCurrentURLString()">
    <h2 class="h2" title="profile of @username">@Model.DisplayName</h2>
</a>
<table class="top-gap-2x ">
    <tbody>
        <tr>
            <td class="bold">Name</td>
            <td class="red">:</td>
            <td> <a title="Apps of @Model.DisplayName" href="@Html.GetCurrentURLString()">@Model.DisplayName</a></td>
        </tr>
        <tr>
            <td class="bold">
                User name
            </td>
            <td class="red">:</td>
            <td> @username</td>
        </tr>
        <tr>
            <td class="bold">Email</td>
            <td class="red">:</td>
            <td> @Model.Email.Replace("@", "{at}")</td>
        </tr>
        <tr>
            <td class="bold">Member since</td>
            <td class="red">:</td>
            <td> @Html.DisplayDate("dd MMMM, yyyy", @Model.CreatedDate)</td>
        </tr>
    </tbody>
</table>
<div class="row app-date-seperation seo-optimize">
    <div class="col-md-10"></div>
    <div class="col-md-2  text-right">
        <a>
            <h1 class="month-seperation regular-color bold-important"></h1>
        </a>
    </div>
</div>

<div class="row">
    <div class="archive-app-collection-wrapper">
        <ul class="seo-optimize regular-color archive-app-collection-list search-page-apps-list pagination-required">
            @foreach (App app in apps) {
                Platform platform = app.GetPlatform();
                <li class="slim-app-view" data-app-type="@platform.Icon">
                    <a class="app-url" href="@app.GetAppUrl()" title="App Review : @app.AppName">
                        <div class="app-icon">
                            <img src="@app.GallerySearchIconLocation" alt="app" />
                        </div>
                        <div class="app-content">
                            <h1 class="app-title" title="App Review : @app.AppName">
                                <i class="fa @platform.Icon"></i>
                                @app.AppName
                                <span class="paragraph-end"></span>
                            </h1>
                            <h3>
                                @app.User.UserName
                                <span class="paragraph-end"></span>
                            </h3>
                            <span class="rating">
                                <i class="fa fa-star"></i>
                                @app.AvgRating/5
                            </span>
                        </div>
                    </a>
                </li>
            }

        </ul>
        <div class="clear"></div>
        <div class="pagination-wrapper text-center">
            <ul class="pagination">
                @ViewBag.paginationHtml
            </ul>
        </div>
    </div>

</div>
