@using DevMVCComponent.Miscellaneous.Extensions
@using WereViewApp.Modules.DevUser
@using WereViewApp.Models.EntityModel.ExtenededWithCustomMethods
@model WereViewApp.Models.EntityModel.App
@{
    int sequenceOfReview = 0;
    var userId = UserManager.GetLoggedUserId();
    Layout = null;
}
<div class="review-collection-box seo-optimize">
    <div class="review-wrapper">
        @if (Model.Reviews != null && Model.Reviews.Count > 0) {
            foreach (var review in Model.Reviews) {
                <section class="single-review row is-recommended wow slideInLeft" data-wow-offset="2" data-wow-duration=".5s" data-sequence="@sequenceOfReview" itemprop="review" itemscope itemtype="http://schema.org/Review">
                    <div class="col-sm-10">
                        <header class="review-writer-wrapper">
                            <a class="review-title-anchor" href="#">
                                <h1 itemprop="name" class="review-title" title="Plant VS Zombies , Review : Take a Look">
                                    <i class="fa fa-check-circle"></i>
                                    Take a Look
                                </h1>
                            </a>
                            <ul class="reviewed-by-wrapper">
                                <li class="posted-by-wrapper">
                                    Posted by
                                    <a href="#" title="@App.">
                                        <h1 itemprop="author">developer</h1>
                                    </a> |
                                </li>
                                <li class="date">
                                    01-Jan-01 |
                                    <meta itemprop="datePublished" content="2011-04-01">
                                </li>
                                <li class="report">
                                    <a href="#">
                                        Report
                                    </a>
                                </li>
                            </ul>
                        </header>
                        <article title="reiview contents" class="review-contents">
                            @review.Comment1
                            <span class="show-more-btns-container" data-ref="app-review" data-id="@sequenceOfReview">
                                <span class="elipse-dot">...</span>
                                <a class="see-more-btn" data-ref="app-review" data-id="@sequenceOfReview">see more</a>
                            </span>
                            <div class="more" data-ref="app-review" data-id="@sequenceOfReview">
                                @review.Comment2
                                <a>
                                    <h1 title="pros of @Model.AppName" class="h5 green">Pros:</h1>
                                </a>
                                <blockquote title="pros of @Model.AppName">
                                    @review.Pros
                                </blockquote>
                                <a>
                                    <h1 title="cons of @Model.AppName" class="h5 red">Cons:</h1>
                                </a>
                                <blockquote title="cons of @Model.AppName">
                                    @review.Cons
                                </blockquote>
                                <a class="less-btn" data-ref="app-review" data-id="@sequenceOfReview">less</a>
                            </div>
                        </article>
                    </div>

                    <div class="review-thumbs-up-wrappper col-sm-2 text-center">
                        <div class="star-image start-box center-margin">
                            @review.Rating
                        </div>
                        <a id="review-thumbs-up-click-@sequenceOfReview" data-sequence="@sequenceOfReview" data-review-like-btn="true" href="@Url.Action("Like", "Reviews", new {id = @review.ReviewID})"><i class="fa fa-thumbs-up"></i></a>
                        <a id="review-thumbs-down-click-@sequenceOfReview" data-sequence="@sequenceOfReview" data-review-dislike-btn="true" href="@Url.Action("DisLike", "Reviews", new {id = @review.ReviewID})"><i class="fa fa-thumbs-down"></i></a>
                        <div class="seo-hide seo-rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                            <meta itemprop="worstRating" content="1">
                            <span itemprop="ratingValue">@review.Rating</span>/
                            <span itemprop="bestRating">5</span>stars
                        </div>
                    </div>
                </section>
                {
                    sequenceOfReview++;
                }
            }
        }
    </div>
</div>