@using WereViewApp.Models.EntityModel.ExtenededWithCustomMethods
@model List<WereViewApp.Models.EntityModel.App>

@{
    Layout = null;
    string moreLink = @Url.Action("TopRated", "Apps");
}
@if (Model != null) {
    <div class="apps-list-header-row">
        <a class="title" href="@moreLink" title="Latest mobiles apps review of @AppVar.Name">
            <h1 title="Latest mobiles apps review of @AppVar.Name" class="float-left">
                <strong title="Latest mobiles apps review of @AppVar.Name">Top Apps</strong>
            </h1>
        </a>
        <a class="float-right btn btn-primary btn-more" href="@moreLink">
            More
        </a>
        <div class="clear"></div>
    </div>
    <div class="owl-carousel owl-theme owl-list" itemprop="itemListElement" itemscope itemtype="http://schema.org/Book">
        @foreach (var app in Model) {
            string appName = @app.AppName;
            string absUrl = @app.GetAbsoluteUrl();
            string category = @app.GetCategoryString();
            string platformIcon = @app.Platform.Icon;
            string subtitleOfApp = @app.GetPlatformString() + " mobile app : " + @appName + " (" + @category + ")";
            string postedUserName = @app.User.UserName;
            <a class="app-box" itemtype="@absUrl" href="@absUrl" title="@appName">
                <img class="app-icon" itemprop="image" src="@app.HomePageIconLocation" alt="@subtitleOfApp"/>
                <div class="app-description-wrapper" title="@subtitleOfApp">
                    <div class="app-title-container" title="@subtitleOfApp">
                        <div class="app-title-row" title="@subtitleOfApp">
                            <h1 itemprop="name" class="app-title ubuntu-font" title="@subtitleOfApp">
                                <i class="@platformIcon"></i>
                                <strong title="@subtitleOfApp">
                                    <em title="@appName">
                                        @appName
                                    </em>
                                </strong>
                            </h1>
                            <span class="paragraph-end"></span>
                        </div>
                        <div class="published-by" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                            <span itemprop="name">@postedUserName</span>
                            <span class="paragraph-end"></span>
                        </div>
                        <div title="rating of @appName" class="seo-rating seo-hide" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                            <span itemprop="ratingValue">@app.AvgRating</span> stars based on
                            <meta itemprop="best" content="5"/>
                            <span itemprop="reviewCount">@app.ReviewsCount</span> reviews
                        </div>
                        <input title="rating of @appName" class="rating-5-front" value="@app.AvgRating" min="0" max="5" step="0.5" data-readonly="true" data-size="xs">
                    </div>
                </div>
            </a>
        }
    </div>
}